<%- include("../principal/navbar.ejs")%>
<div class="container-fluid" style="padding: 30px;">

<div class="row">
    <div class="col-md-6 col-lg-6 col-sm-12 center-block label" style="padding: 5px;">
        <div class="container" style="background-color: #a4bfc7">
            <h5>Ubicación:</h5>
        </div>
        <!--<div class="container mapouter" style="text-align: center">
                <div class="gmap_canvas">
                    <iframe style="width:100%; height:300px" src="https://maps.google.com/maps?q=Escuela%20Politecnica%20Nacional&t=&z=13&ie=UTF8&iwloc=&output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe>  
                    <a href="https://ultimatewp.net">UltimateWP</a>
                </div>
                <style>.mapouter{position:relative;text-align:right;height:500px;width:600px;}.gmap_canvas {overflow:hidden;background:none!important;height:500px;width:600px;}
                </style>
            </div>-->
            <iframe style="width:100%; height:500px" src="https://maps.google.com/maps?q=Escuela%20Politecnica%20Nacional&t=&z=13&ie=UTF8&iwloc=&output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe>
                  
    </div>
    <div class="col-md-6 col-lg-6 col-sm-12" style="text-align: center">
        <div class="image container">
            <div class="row">
                <div class="col-md-12">
                    <div class="well well-sm">
                        <form class="form-horizontal" method="post">
                            <fieldset>
                                <legend class="text-center header text-white">Contactanos</legend>
        
                                <div class="form-group">
                                    <span class="col-md-1 col-md-offset-2 text-center"><i class="fa fa-user bigicon"></i></span>
                                    <div class="col-md-12">
                                        <input id="fname" name="name" type="text" placeholder="Nombres" class="form-control">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <span class="col-md-1 col-md-offset-2 text-center"><i class="fa fa-user bigicon"></i></span>
                                    <div class="col-md-12">
                                        <input id="lname" name="name" type="text" placeholder="Apellidos" class="form-control">
                                    </div>
                                </div>
        
                                <div class="form-group">
                                    <span class="col-md-1 col-md-offset-2 text-center"><i class="fa fa-envelope-o bigicon"></i></span>
                                    <div class="col-md-12">
                                        <input id="email" name="email" type="text" placeholder="Email" class="form-control">
                                    </div>
                                </div>
        
                                <div class="form-group">
                                    <span class="col-md-1 col-md-offset-2 text-center"><i class="fa fa-phone-square bigicon"></i></span>
                                    <div class="col-md-12">
                                        <input id="phone" name="phone" type="text" placeholder="Telefono" class="form-control">
                                    </div>
                                </div>
        
                                <div class="form-group">
                                    <span class="col-md-1 col-md-offset-2 text-center"><i class="fa fa-pencil-square-o bigicon"></i></span>
                                    <div class="col-md-12">
                                        <textarea class="form-control" id="message" name="message" placeholder="Dejanos tu mensaje" rows="7"></textarea>
                                    </div>
                                </div>
        
                                <div class="form-group">
                                    <div class="col-md-12 text-center">
                                        <button type="submit" class="btn btn-info btn-lg">Enviar</button>
                                    </div>
                                </div>
                            </fieldset>
                        </form>
                    </div>
                </div>
            </div>
        </div>
  </div> 
</div>