<head>
    <meta charset="UTF-8">
    <title>Arbitros</title>
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, initial-scale=1.0, maximum-scale=1.0 minimum-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
<style>
  .cancelEditElement, .sendElement, .cleanElement {
      top: initial !important;
      margin: 5px 5px 0;
      padding: 0 15px 0 15px;
      border-radius: 15px;
      position: static;
      right: 20px !important;
      height: 40px !important;
      outline: none;
      font-weight: bold;
      display: inline-block;
  }

  .sendElement {
      background-color: #2d7386;
      border: 1px solid #205260;
      color: white;
  }

  .cleanElement {
      background-color: #2d7386;
      border: 1px solid #205260;
      color: white;
  }

  .cancelEditElement{
      background-color: transparent;
      border: 1px solid #2d7386;
      color: #2d7386;
  }

  .cancelEditElement:hover, .sendElement:hover, .cleanElement:hover {
      cursor: pointer;
      background-color: #40a4bf;
      border: 1px solid #338399;
      color: white;
  }

  a{
      color: #338399;
  }

  a:hover{
    color: white;
  }

  h1{
      text-align: center;
  }
  a{
      color: white;
  }

  h1{
      text-align: center;
  }
  .image{
    background-image: url(https://images.alphacoders.com/510/thumb-1920-510026.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
  }
  body {
    background-color: #e6edf7;
  }
  .label{
      background-color: rgb(241, 241, 231)f7;
      border: #205260 solid 1px;
  }
  
  </style>
</head>
<div class="container-fluid bg-dark text-white text-center">
        <header>
            <div class="row">
                <div class="col-sm-12">
                    <h1>LIGA DEPORTIVA BARRIAL</h1>
                </div>        
            </div>
        </header>
        </div>
<nav class="navbar navbar-expand-lg navbar-dark" style="background-color: #205260; color:white">
        <a class="navbar-brand nav-icon" href="/liga/ligaDeportiva"> <i class="ion-ios-home"></i> Inicio</a>
            <button class="navbar-toggler navbar-toggler-right-collapsed" style="color: white" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
              <ul class="navbar-nav">
                <li class="nav-item">
                  <a class="nav-link" href="/liga/listarEquipos"> <i class="ion-android-people"></i> Equipos </a>
                </li>
                <li class="nav-item nav-icon">
                  <a class="nav-link" href="/liga/listarJugadores"> <i class="ion-android-person"></i> Jugadores</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/liga/listarArbitros"> <i class="ion-ios-contact"></i>Arbitros</a>
                </li>
                 <li class="nav-item">
                      <a class="nav-link" href="/liga/contacto"> <i class="ion-ios-paper"></i> Contactos</a>
                  </li>
              </ul>
            </div>
        </nav>
  