<%- include("../principal/navbar.ejs")%>
<div class="container image center" style="text-align: center">
    <div class="container">
      <br>
      <img class="img-fluid" src="https://files.laliga.es/seccion_logos/laliga-h-16-9.jpg" alt="">
    </div>
    <div class="container">
        <p>
            El fútbol o futbol2​ (del inglés británico football, traducido como balompié3​) es un deporte de equipo jugado entre dos conjuntos de once jugadores cada uno y algunos árbitros que se ocupan de que las normas se cumplan correctamente. Es ampliamente considerado el deporte más popular del mundo, pues lo practican unas 270 millones de personas.4​ También se le conoce como futbol asociación o fútbol asociación, nombre derivado de The Football Association, primera federación oficial del mundo en este deporte y que utilizó ese nombre para distinguirlo de otros deportes que incluyen la palabra "futbol" o "fútbol".5​ En algunos países de habla inglesa también se le conoce como soccer, abreviatura de association, puesto que el nombre de football en esos países se asocia mayoritariamente a otros deportes con esa denominación (principalmente en Estados Unidos donde el nombre football aplica para el fútbol americano, un deporte totalmente distinto).
        </p>
        <br>
    </div>
    <div class="embed-responsive embed-responsive-16by9">
        <iframe class="embed-responsive-item" width="640" height="480"  src="https://www.youtube.com/embed/97Q-aC_r-AY" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
  </div> 
<br>
<br>


<div class="footer container-fluid text-center text-white" style="background-color: #205260"> 
  COPYRIGHT C 2019 SILVA ERIKA
</div>
