<%- include("../principal/navbar.ejs")%>

<div class="container">
<h1>Crear Nuevo Arbitro</h1>
<form
        action="/liga/crearArbitro"
        method="post"
>
    <div class="form-group">
        <label for="nombreId">Nombres</label>
        <input class="form-control" id="nombreId" name="nombres" type="text">
    </div>   
    <div class="form-group">
        <label for="apellidoId">Apellidos</label>
        <input class="form-control" id="apellidoId" name="apellidos" type="text">
    </div>
    <div class="form-group">
        <label for="tipoId">Tipo</label>
        <select class="form-control" name="tipo" id="tipoId">
            <option value="Central">Central</option>
            <option value="De Linea">De Linea</option>
        </select>
    </div>
    <div class="container" style="text-align: center">
            <button class="cleanElement" type="reset">Limpiar</button>

            <a href="/liga/listarArbitros"><button class="cancelEditElement" type="button">Cancelar</button></a>
        
            <button class="sendElement">Enviar informacion</button>
    </div>
    

</form>
</div>