<%- include("../principal/navbar.ejs")%>

<div class="container">
<h1>Crear Nuevo Jugador</h1>
<form
        action="/liga/crearJugador"
        method="post"
>
    <div class="form-group">
        <label for="numeroId">Número de la Camiseta</label>
        <input class="form-control" id="numeroId" name="numeroCamiseta" type="number" min="0" max="100" step="1">
    </div>

    <div class="form-group">
        <label for="nombreId">Nombres</label>
        <input class="form-control" id="nombreId" name="nombres" type="text">
    </div>
    <div class="form-group">
        <label for="apellidoId">Apellidos</label>
        <input class="form-control" id="apellidoId" name="apellidos" type="text">
    </div>

    <div class="form-group">
        <label for="tipoId">Tipo</label>
        <select class="form-control" name="posicion" id="tipoId">
            <option value="Arquero">Arquero</option>
            <option value="Defensa">Defensa</option>
            <option value="Delantero">Delantero</option>
            <option value="Volante">Volante</option>
        </select>
    </div>
    <div class="form-group">
        <label for="nombreEquipoId">Nombre del Equipo</label>
        <input  class="form-control" id="nombreEquipoId" name="nombreEquipo" type="text">
    </div>

    <div class="container" style="text-align: center">
        <button class="cleanElement" type="reset">Limpiar</button>
        <!--<button type="submit">Submit</button>-->

        <a href="/liga/listarJugadores"><button class="cancelEditElement" type="button">Cancelar</button></a>

        <button class="sendElement">Enviar informacion</button>
    </div>

</form>