<!DOCTYPE html>
<html lang="en">

<%- include("../principal/navbar.ejs")%>

<div class="container">
<br>
<h1>Jugadores</h1>
<a href="/liga/crearJugador">
    <button class="sendElement">Crear Nuevo Jugador</button>
</a>
<br>
<br>

<form action="/liga/buscarJugador" method="post" style="text-align: center">
    <input class="form-control mr-sm-2" type="search" id="busquedaId" placeholder="Busqueda" name="busqueda" aria-label="Search">
    <br>
    <button class="cancelEditElement my-2 my-sm-0" type="submit" class="sendElement">Buscar</button>            
</form>
    <br>
    <br>
    <div class="table-responsive">
        <table class="table table-striped table-hover table-sm table-active">
            <thead class="thead-dark">
            <tr class="table-active">
                <th>Numero de Camiseta</th>
                <th>Nombres</th>
                <th>Apellidos</th>
                <th>Posicion</th>
                <th>Equipo</th>
            <th colspan="2">Acciones</th>
    </tr>
    </thead>
    <% arregloJugadores.forEach((jugador)=>{ %>
    <tr>
        <td> <%=jugador.numeroCamiseta%> </td>
        <td> <%=jugador.nombres%> </td>
        <td> <%=jugador.apellidos%> </td>
        <td> <%=jugador.posicion%> </td>
        <td> <%=jugador.nombreEquipo%> </td>
        <td>
            <br>
                <a href="/liga/editarJugador/<%=jugador.id%>">
                <input id="id" name="id" type="number" value="<% jugador.id %>" hidden>
                <button class="cancelEditElement">Editar</button>
                </a>
        </td>
        <td>
            <br>
            <form action="/liga/eliminarJugador" method="post">
                <input id="id" name="id" type="number" value="<%=jugador.id %>" hidden>
                <button class="sendElement">Borrar</button>
            </form>
        </td>
    </tr>
    <% })%>
</table>
    </div>
</div>
<script type="javascript" src="js/jquery-3.4.1.min.js"></script>
<script type="javascript" src="js/bootstrap.min.js"></script>
</body>
</html>