<%- include("../principal/navbar.ejs")%>

<div class="container">
<h1>Crear nuevo Equipo</h1>
<form
        action="/liga/crearEquipo"
        method="post"
>
<div class="form-group">
    <label for="nombreId">Nombre del Equipo</label>
    <input class="form-control" id="nombreId" name="nombreEquipo" type="text">
   </div>
   <div class="form-group">
    <label for="nombrePresidente">Nombres del Presidente</label>
    <input class="form-control" id="nombrePresidente" name="nombrePresidente" type="text">
   </div>
   <div class="form-group">
    <label for="apellidoPresidente">Apellidos del Presidente</label>
    <input class="form-control" id="apellidoPresidente" name="apellidoPresidente" type="text">
   </div>
   <div class="form-group">
    <label for="fechaId">Fecha de Creación</label>
    <input class="form-control" id="fechaId" name="fechaCreacion" type="date" min="2019-05-06" max="2019-12-31">
   </div>
   <div class="form-group">
    <label for="coloresId">Colores</label>
    <input class="form-control" id="coloresId" name="colores" type="text">
   </div>
   <div class="container" style="text-align: center">
    <button  class="cleanElement" type="reset">Limpiar</button>

    <a href="/liga/listarEquipos"><button  class="cancelEditElement" type="button">Cancelar</button></a> 

    <button class="sendElement">Enviar informacion</button>

</form>
</div>