<%- include("../principal/navbar.ejs")%>
<div class="container">
<h1>Editar Equipo</h1>
<form
        action="/liga/editarEquipo/<%=equipo.id%>"
        method="post"
>
    <div class="form-group">
        <label for="nombreId">Nombre del Equipo</label>
        <input class="form-control" id="nombreId" name="nombreEquipo" type="text" value="<%=equipo.nombreEquipo%>">
    </div>
    <div class="form-group">
        <label for="nombrePresidente">Nombres del Presidente</label>
        <input class="form-control" id="nombrePresidente" name="nombrePresidente" type="text" value="<%=equipo.nombrePresidente%>">
    </div>
    <div class="form-group">
        <label for="apellidoPresidente">Apellidos del Presidente</label>
        <input class="form-control" id="apellidoPresidente" name="apellidoPresidente" type="text" value="<%=equipo.apellidoPresidente%>">
    </div>
    <div class="form-group">
        <label for="fechaId">Fecha de Creación</label>
        <input class="form-control" id="fechaId" name="fechaCreacion" type="date" value="<%=equipo.fechaCreacion%>">
    </div>
    <div class="form-group">
        <label for="coloresId">Colores</label>
        <input class="form-control" id="coloresId" name="colores" type="text" value="<%=equipo.colores%>">
    </div>
    <div class="container" style="text-align: center">
        <button class="cleanElement" type="reset">Limpiar</button>
        <!--<button type="submit">Submit</button>-->

        <a href="/liga/listarEquipos"><button class="cancelEditElement" type="button">Cancelar</button></a>

        <button class="sendElement">Enviar informacion</button>
    </div>
</form>

</div>