<!DOCTYPE html>
<html lang="en">

<%- include("../principal/navbar.ejs")%>

<div class="container">
<br>
<h1>Modulo de Equipos</h1>
<a href="/liga/crearEquipo">
    <button class="sendElement">Crear Nuevo Equipo</button>
</a>
<br>
<br>
<br>

<form action="/liga/buscarEquipo" method="post" style="text-align: center">
            <input class="form-control mr-sm-2" type="search" id="busquedaId" placeholder="Busqueda" name="busqueda" aria-label="Search">
            <br>
            <button class="cancelEditElement my-2 my-sm-0" type="submit" class="sendElement">Buscar</button>            
</form>
    <br>
    <br>
    <div class="table-responsive">
        <table class="table table-striped table-hover table-sm table-active">
            <thead class="thead-dark">
            <tr class="table-active">
                <th>Nombre del Equipo</th>
                <th>Nombres del Presidente</th>
                <th>Apellidos del Presidente</th>
                <th>Fecha de Creación</th>
                <th>Colores</th>
            <th colspan="2">Acciones</th>
    </tr>
    </thead>
    <% arregloEquipos.forEach((equipo)=>{ %>
    <tr>
        <td> <%=equipo.nombreEquipo%> </td>
        <td> <%=equipo.nombrePresidente%> </td>
        <td> <%=equipo.apellidoPresidente%> </td>
        <td> <%=equipo.fechaCreacion%> </td>
        <td> <%=equipo.colores%> </td>
        <td>
            <br>
            <!--<form action="/liga/editarEquipos" method="post">-->
                <a href="/liga/editarEquipo/<%=equipo.id%>">
                <input id="id" name="id" type="number" value="<% equipo.id %>" hidden>
                <button class="cancelEditElement">Editar</button>
                </a>
            <!--</form>-->
        </td>
        <td>
            <br>
            <form action="/liga/eliminarEquipo" method="post">
                <input id="id" name="id" type="number" value="<%=equipo.id %>" hidden>
                <button class="sendElement">Borrar</button>
            </form>
        </td>
    </tr>
    <% })%>
</table>
    </div>
</div>
<script type="javascript" src="js/jquery-3.4.1.min.js"></script>
<script type="javascript" src="js/bootstrap.min.js"></script>
</body>
</html>